{# Formulaire pour l'accueil #}

{% extends "_maquette.jinja" %}

{% block contenu %}

{#src="https://picsum.photos/seed/{{ l.id_lieu }}/300"#}
    <div class="row">
{#        {% for l in lieux %}#}
{#            <div class="col-3 mt-2">#}
{#                <div class="card rounded-3" style="width: 18rem;">#}
{#                    <img class="w-100" src="../static/images/produits/zit.jpg" class="card-img-top"#}
{#                         alt="...">#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title">{{ l.titre }}</h5>#}
{##}
{#                        <div class="card-text">#}
{#                            <span>Date d'ajout:</span>#}
{#                            <time datetime="{{ l.date_ajout }}" class="my-2">{{ l.date_ajout }}</time>#}
{#                        </div>#}
{##}
{#                        <a href="/produit?id={{ l.id_lieu }}" type="button" class="btn btn-primary">Plus de détail</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#        {% endfor %}#}
    </div>




{#    <div class="card" style="width: 18rem;">#}
{#        <img src="..." class="card-img-top" alt="...">#}
{#        <div class="card-body">#}
{#            <h5 class="card-title">Card title</h5>#}
{#            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's#}
{#                content.</p>#}
{#        </div>#}
{#        <ul class="list-group list-group-flush">#}
{#            <li class="list-group-item">An item</li>#}
{#            <li class="list-group-item">A second item</li>#}
{#            <li class="list-group-item">A third item</li>#}
{#        </ul>#}
{#        <div class="card-body">#}
{#            <a href="#" class="card-link">Card link</a>#}
{#            <a href="#" class="card-link">Another link</a>#}
{#        </div>#}
{#    </div>#}







{% endblock %}